[submodule "tools/wrapper-generator/autd3-capi-link-remote-twincat"]
	path = tools/wrapper-generator/autd3-capi-link-remote-twincat
	url = https://github.com/shinolab/autd3-capi-link-remote-twincat.git
